<div>
    <article>
        <div class="grid">
            <hgroup>
                <h1>
                    <%= product.name %>
                </h1>
                <h2>Overall stock: <code><%= product.stock %></code></h2>
                <p>
                    <%= product.description %>
                </p>
            </hgroup>
            <% if (user.level=='ADMIN' ) { %>
                <div>
                    <a href="/put/product/<%= product.name %>">
                        <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 512 512"
                            class="link emerald-svg mh">
                            <title>Edit</title>
                            <path
                                d="M441 58.9L453.1 71c9.4 9.4 9.4 24.6 0 33.9L424 134.1 377.9 88 407 58.9c9.4-9.4 24.6-9.4 33.9 0zM209.8 256.2L344 121.9 390.1 168 255.8 302.2c-2.9 2.9-6.5 5-10.4 6.1l-58.5 16.7 16.7-58.5c1.1-3.9 3.2-7.5 6.1-10.4zM373.1 25L175.8 222.2c-8.7 8.7-15 19.4-18.3 31.1l-28.6 100c-2.4 8.4-.1 17.4 6.1 23.6s15.2 8.5 23.6 6.1l100-28.6c11.8-3.4 22.5-9.7 31.1-18.3L487 138.9c28.1-28.1 28.1-73.7 0-101.8L474.9 25C446.8-3.1 401.2-3.1 373.1 25zM88 64C39.4 64 0 103.4 0 152V424c0 48.6 39.4 88 88 88H360c48.6 0 88-39.4 88-88V312c0-13.3-10.7-24-24-24s-24 10.7-24 24V424c0 22.1-17.9 40-40 40H88c-22.1 0-40-17.9-40-40V152c0-22.1 17.9-40 40-40H200c13.3 0 24-10.7 24-24s-10.7-24-24-24H88z" />
                        </svg></a>
                    <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 448 512"
                        hx-delete="/api/product/<%= product.name %>" hx-trigger="click" class="link ruby-svg mh"
                        id="deleteProduct" hx-confirm="Delete product <%= product.name %>?"
                        hx-prompt="Type product name for validation" hx-target="#deleteResult">
                        <title>Delete</title>
                        <path
                            d="M135.2 17.7L128 32H32C14.3 32 0 46.3 0 64S14.3 96 32 96H416c17.7 0 32-14.3 32-32s-14.3-32-32-32H320l-7.2-14.3C307.4 6.8 296.3 0 284.2 0H163.8c-12.1 0-23.2 6.8-28.6 17.7zM416 128H32L53.2 467c1.6 25.3 22.6 45 47.9 45H346.9c25.3 0 46.3-19.7 47.9-45L416 128z" />
                    </svg>
                </div>

                <script>
                    htmx.on('#deleteProduct', 'htmx:afterRequest', function (event) {
                        if (event.detail.successful) {
                            alert('Prouct successfully deleted');
                            const payload = JSON.parse(event.detail.xhr.response);
                            const location = payload.data.location;
                            window.location.href = `/product`;
                        }
                    });
                </script>
                <% } %>
        </div>
        <div>
            <p id="deleteResult"></p>
        </div>
        <hr>
        <div class="grid">
            <article id="needs" class="reset">
                <h3>Needs</h3>
                <table>
                    <thead>
                        <tr>
                            <th>Material</th>
                            <th>Quantity</th>
                        </tr>
                    </thead>
                    <tbody id="products">
                        <% product.Needs.forEach(m=> { %>
                            <tr onclick="window.location='/product/' + '<%= m.materialName %>';" class="link">
                                <td>
                                    <%= m.materialName %>
                                </td>
                                <td>
                                    <%= m.quantity %>
                                </td>
                            </tr>
                            <% }) %>
                    </tbody>
                </table>
            </article>
            <article id="usedBy" class="reset">
                <h3>Used By</h3>
                <table>
                    <thead>
                        <tr>
                            <th>Product</th>
                        </tr>
                    </thead>
                    <tbody id="products">
                        <% product.UsedBy.forEach(u=> { %>
                            <tr onclick="window.location='/product/' + '<%= u.productName %>';" class="link">
                                <td>
                                    <%= u.productName %>
                                </td>
                            </tr>
                            <% }) %>
                    </tbody>
                </table>
            </article>
        </div>
        <article id="inventory" class="reset">
            <h3>Inventory</h3>
            <figure>
            <table>
                <thead>
                    <tr>
                        <th>Update</th>
                        <th>Product</th>
                        <th>Warehouse</th>
                        <th>Stock</th>
                    </tr>
                </thead>
                <tbody id="inventories">
                    <% product.Inventory.forEach(i=> { %>
                        <tr>
                            <td>
                                <%= i.updatedAt.toLocaleString(undefined, { timeZone: "Asia/Jakarta", hour12: false }) %>
                            </td>
                            <td onclick="window.location='/product/' + '<%= i.productId %>';" class="link">
                                <%= i.productId %>
                            </td>
                            <td onclick="window.location='/warehouse/' + '<%= i.warehouseId %>';" class="link">
                                <%= i.warehouseId %>
                            </td>
                            <td>
                                <%= i.quantity %>
                            </td>
                        </tr>
                        <% }) %>
                </tbody>
            </table>
            </figure>
        </article>
        <article id="history" class="reset">
            <h3>History</h3>
            <figure>
            <table>
                <thead>
                    <tr>
                        <th>Transaction ID</th>
                        <th>Date</th>
                        <th>Product</th>
                        <th>Warehouse</th>
                        <th>Quantity</th>
                    </tr>
                </thead>
                <tbody id="inventories">
                    <% product.History.forEach(h=> { %>
                        <tr>
                            <td onclick="window.location='/transaction/' + '<%= h.transactionId %>';" class="link">
                                <%= h.transactionId %>
                            </td>
                            <td>
                                <%= h.updatedAt.toLocaleString(undefined, { timeZone: "Asia/Jakarta", hour12: false }) %>
                            </td>
                            <td onclick="window.location='/product/' + '<%= h.productId %>';" class="link">
                                <%= h.productId %>
                            </td>
                            <td onclick="window.location='/warehouse/' + '<%= h.warehouseId %>';" class="link">
                                <%= h.warehouseId %>
                            </td>
                            <td>
                                <%= h.quantity %>
                            </td>
                        </tr>
                        <% }) %>
                </tbody>
            </table>
            </figure>
        </article>
    </article>
</div>