<div>
    <article>
        <div class="grid">
            <hgroup>
                <h1>Transaction <%= transactions.id %>
                </h1>
                <p>Event: <%= transactions.event %>
                </p>
                <p>Actor: <%= transactions.username %>
                </p>

            </hgroup>
            <div class="grid">
                <span>Created at: <code><%= transactions.createdAt.toLocaleString(undefined, { timeZone: "Asia/Jakarta", hour12: false }) %></code></span>
                <span>Updated at: <code><%= transactions.updatedAt.toLocaleString(undefined, { timeZone: "Asia/Jakarta", hour12: false }) %></code></span>
            </div>
        </div>
        <hr>
        <article id="history" class="reset">
            <h3>Detail</h3>
            <figure>
            <table>
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Product</th>
                        <th>Warehouse</th>
                        <th>Quantity</th>
                    </tr>
                </thead>
                <tbody id="histories">
                    <% transactions.History.forEach(h=> { %>
                        <tr>
                            <td>
                                <%= h.updatedAt.toLocaleString(undefined, { timeZone: "Asia/Jakarta", hour12: false }) %>
                            </td>
                            <td onclick="window.location='/product/' + '<%= h.productId %>';" class="link">
                                <%= h.productId %>
                            </td>
                            <td onclick="window.location='/warehouse/' + '<%= h.warehouseId %>';" class="link">
                                <%= h.warehouseId %>
                            </td>
                            <td>
                                <%= h.quantity %>
                            </td>
                        </tr>
                        <% }) %>
                </tbody>
            </table>
            </figure>
        </article>
</div>