<% transactions.forEach(t=> { %>
    <tr onclick="window.location='/transaction/' + '<%= t.id %>';" class="link">
        <td>
            <%= t.id %>
        </td>
        <td>
            <%= t.createdAt.toLocaleString(undefined, { timeZone: "Asia/Jakarta", hour12: false }) %>
        </td>
        <td>
            <%= t.event %>
        </td>
        <td>
            <%= t.username %>
        </td>
    </tr>
    <% }) %>