<div>
    <form id="jsonForm" action="/api/transaction" method="POST">
        <input type="hidden" id="event" name="event" value="INPUT">

        <div id="inventoryFields">
            <article class="inventory-item reset">
                <select name="product[]" required>
                    <option value="" disabled selected>Material</option>

                    <% materials.forEach(m=> { %>
                        <option value="<%= m %>">
                            <%= m %>
                        </option>
                        <% }) %>
                </select>
                <select name="warehouse[]" required>
                    <option value="" disabled selected>Warehouse</option>
                    <% warehouses.forEach(w=> { %>
                        <option value="<%= w.location %>">
                            <%= w.location %>
                        </option>
                        <% }) %>
                </select>
                <input type="number" name="quantity[]" min="1" placeholder="Quantity" required>
            </article>
        </div>

        <div class="grid">
            <button type="button" id="addInventoryItem"><strong>+</strong> Another Item</button>
            <button type="submit" value="Submit">Submit</button>
        </div>
    </form>

    <div id="result"></div>

    <script>
        document.getElementById('addInventoryItem').addEventListener('click', function () {
            var inventoryFields = document.getElementById('inventoryFields');
            var inventoryItem = document.createElement('article');
            inventoryItem.classList.add('inventory-item', 'reset');
            inventoryItem.innerHTML = `
    <select name="product[]" required>
    <option value="" disabled selected>Material</option>
    <% materials.forEach(m=> { %>
        <option value="<%= m %>">
            <%= m %>
        </option>
        <% }) %>
    </select>
    <select name="warehouse[]" required>
        <option value="" disabled selected>Warehouse</option>
        <% warehouses.forEach(w=> { %>
        <option value="<%= w.location %>">
            <%= w.location %>
        </option>
        <% }) %>
    </select>
    <input type="number" name="quantity[]" min="1" placeholder="Quantity" required>

    <button type="button" onclick="removeItem(this)" class="secondary">Remove Item</button>
`;
            inventoryFields.appendChild(inventoryItem);
        });
    </script>

    <script src="/js/add-stock.min.js"></script>
</div>